---
import { getCollection } from "astro:content";

import BlogLayout from "@/layouts/BlogLayout.astro";
import BlogGrid from "@/blocks/BlogGrid.astro";
import Paginate from "@/components/Paginate.astro";

export async function getStaticPaths({ paginate }) {
  const allPosts = await getCollection("posts");
  return paginate(allPosts, { pageSize: 6 });
}

const { page } = Astro.props;
const { data: filteredPosts } = page;
const noPosts = !filteredPosts || filteredPosts.length === 0;
---

<BlogLayout pageTitle="Author Index">
  <!-- <TagFilter selected={selected} /> -->
  {
    noPosts ? (
      <div class="text-red-600 py-8 text-center font-semibold">
        No posts found for Author
      </div>
    ) : (
      <>
        <BlogGrid posts={filteredPosts} />
        <Paginate
          currentPage={page.currentPage}
          lastPage={page.lastPage}
          prevUrl={page.url.prev}
          nextUrl={page.url.next}
        />
      </>
    )
  }
</BlogLayout>
