---
import { getCollection } from "astro:content";

import BlogLayout from "@/layouts/BlogLayout.astro";
import BlogGrid from "@/blocks/BlogGrid.astro";
import PageHeader from "@/blocks/PageHeader.astro";
import Paginate from "@/components/Paginate.astro";

const pageTitle = "Latest Blog";

export async function getStaticPaths({ paginate }) {
  const allPosts = await getCollection("posts");

  const sortedPosts = allPosts.sort(
    (a, b) => new Date(b.data.pubDate) - new Date(a.data.pubDate)
  );

  return paginate(sortedPosts, {
    pageSize: 3,
  });
}

//props
const { page } = Astro.props;
const posts = page?.data;

// page header details
const pageHeader = {
  title: "Latest Blog",
  caption: "Blog",
  description: "",
};
---

<BlogLayout title={pageTitle}>
  <PageHeader headerInfo={pageHeader} slot="pageHeader" />

  {
    posts.length === 0 ? (
      <div class="empty-message">
        <p>No blog posts found.</p>
      </div>
    ) : (
      <BlogGrid posts={posts} />
    )
  }

  <Paginate
    currentPage={page.currentPage}
    lastPage={page.lastPage}
    prevUrl={page.url.prev}
    nextUrl={page.url.next}
  />
</BlogLayout>
