---
//astro imports
import { getCollection } from "astro:content";

//components imports
import BlogLayout from "@/layouts/BlogLayout.astro";
import BlogGrid from "@/components/blocks/BlogGrid.astro";
import Paginate from "@/components/Paginate.astro";
import PageHeader from "@/components/blocks/PageHeader.astro";

//config imports
import { siteConfig } from "@/config/siteconfig"; // Make sure you have pageLength here

export async function getStaticPaths({ paginate }) {
  const allPosts = await getCollection("posts");
  const pageSize = siteConfig.pageLength || 6; // Or your preferred page size
  return paginate(allPosts, { pageSize });
}

const { page } = Astro.props;
const { data: filteredPosts, currentPage, totalPages } = page;
const noPosts = !filteredPosts || filteredPosts.length === 0;
---

<BlogLayout pageTitle={selected}>
  <PageHeader
    headerInfo={{
      title: "Tags Index",
      caption: "Tags",
      description: "",
    }}
    slot="pageHeader"
  />

  {
    noPosts ? (
      <div class="text-red-600 py-8 text-center font-semibold">
        No posts found for tag
      </div>
    ) : (
      <>
        <BlogGrid posts={filteredPosts} />
        <Paginate
          currentPage={page.currentPage}
          lastPage={page.lastPage}
          prevUrl={page.url.prev}
          nextUrl={page.url.next}
        />
      </>
    )
  }
</BlogLayout>
