---
//astro import
import Image from "astro/components/Image.astro";
import { Icon } from "astro-icon/components";

//components import
import BlogMeta from "@/components/blocks/BlogMeta.astro";

// utils import
import { slugify, formatDate } from "@/utils/helper";

// Astro props
const { post, url = "#" } = Astro.props;

// get tags and categories from post
const tags = post.tags.map((tag: string) => tag.trim());
const categories = post.categories.map((category: string) => category.trim());
---

<article class="rounded-xl transition-all">
  <div class="relative overflow-hidden bg-cover bg-no-repeat rounded-md mb-8">
    <Image
      class="object-cover object-center aspect-video w-full bg-slate-50 transition duration-300 ease-in-out hover:scale-110 dark:bg-transparent"
      src={post.image.url}
      alt={post.image.alt || post.title}
      format="webp"
      loading="lazy"
      width={1600}
      height={900}
    />
  </div>

  <BlogMeta categories={categories} post={post} />

  <h3
    class="mb-2 text-xl font-heading font-semibold leading-snug text-tertiary-900 lg:text-3xl dark:text-slate-100"
  >
    {post.title}
  </h3>
  <p class="leading-relaxed text-emphasis-500 line-clamp-3 dark:text-slate-400">
    {post.description}
  </p>

  <footer class="mt-7">
    <a
      href={`/blog/${url}`}
      class="inline-flex items-center text-tertiary-900 hover:text-primary-500 hover:underline transition-all duration-300 after:content-[''] after:inline-block after:ml-1 after:w-1 after:h-1 after:rounded-full after:bg-pink-500 align-middle"
    >
      Read More
    </a>
  </footer>

  <!-- <div class="mt-6 flex gap-4">
    <Badge href={`/blog/category/${slugify(category)}`}>{category}</Badge>
  </div> -->
</article>
