---
//astro imports
import { Image } from "astro:assets";

//utils imports
import { slugify } from "@/utils/helper";

//components imports
import { Heart, ShoppingCart, Share } from "@lucide/astro";
import { Button } from "@/starwind/button";

//props
const { product } = Astro.props;

const { title, featuredImage, price, originalPrice } = product;
---

{/* Product Image */}
<div
  class="relative bg-accent-50/50 hover:bg-[#EBF4F3] aspect-square flex items-center justify-center transition-all duration-300"
>
  {/* Product Image */}
  <Image
    src={featuredImage || "/placeholder.svg"}
    alt={title}
    width={180}
    height={180}
    loading="lazy"
    format="webp"
  />

  {/* Hover Icons */}
  <div
    class="absolute bottom-4 left-1/2 transform -translate-x-1/2 flex space-x-2 opacity-0 group-hover:opacity-100 transition-opacity duration-300"
  >
    <Button
      size="sm"
      variant="ghost"
      class="h-8 w-8 p-0 bg-white hover:bg-tertiary-500 hover:text-white rounded-full shadow-md transition-colors duration-300"
    >
      <ShoppingCart class="h-4 w-4" />
    </Button>
    <Button
      size="sm"
      variant="ghost"
      class="h-8 w-8 p-0 bg-white hover:bg-primary-500 hover:text-white rounded-full shadow-md transition-colors duration-300"
    >
      <Heart class="h-4 w-4" />
    </Button>
    <Button
      size="sm"
      variant="ghost"
      class="h-8 w-8 p-0 bg-white hover:bg-green-500 hover:text-white rounded-full shadow-md transition-colors duration-300"
    >
      <Share class="h-4 w-4" />
    </Button>
  </div>
</div>

{/* Product Info */}
<div class="p-4 text-center font-semibold">
  <h6 class="mb-1">
    <a
      href={`/shop/${slugify(title)}`}
      class="hover:text-primary-500 transition-colors duration-200 text-base"
    >
      {title}
    </a>
  </h6>

  {/* Rating */}
  <!-- <div class="flex justify-center mb-2">
    {renderStars(rating)}
  </div> -->

  {/* Pricing */}
  <div class="flex items-center justify-center space-x-2">
    <span class="text-primary-500 font-semibold">
      <span class="currency-symbol"></span>
      {price}
    </span>
    <!-- <span class="text-primary-500 line-through text-sm">
      {originalPrice || "N/A"}
    </span> -->
  </div>
</div>
