---
//utils import
import { slugify } from "@/utils/helper";

//astro props
const { product } = Astro.props;

//de structure product details
const { id, name, image, price } = product;
---

<div key={id} class="cursor-pointer col-span-4 lg:col-span-3">
  <a
    href={`/shop/${slugify(name)}`}
    class="group flex flex-col items-center justify-center"
  >
    <figure class="w-full aspect-square bg-gray-100 rounded-lg mb-4">
      <img
        src={image || "/placeholder.svg"}
        alt={name}
        class="w-full h-full object-contain scale-75 group-hover:scale-85 transition-transform duration-200"
      />
    </figure>
    <div class="text-center">
      <h3 class="group-hover:text-primary-500 font-medium mb-2 text-sm">
        {name}
      </h3>
      <div class="flex justify-center mb-2">
        {/* {renderStars(product.rating)} */}
      </div>
      <p class="text-tertiary-900 font-semibold">{price}</p>
    </div>
  </a>
</div>
